@model IEnumerable<ZeroHunger.EF.Assigned>

@{
    ViewBag.Title = "OfferedList";
}

<h2>OfferedList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmpID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoodID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssignDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            <a href="/Employee/Proceed/@item.ID" class="btn btn-success">Proceed</a>
        </td>
    </tr>
}

</table>
